.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
  /* display: flex;
  flex-wrap: wrap; */

}

.movie {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin: auto;
  flex-direction: column;
  padding: 0px 10px;
  text-align: center;
}

.movie h3,
.movie p {
  padding: 0;
}

.movie img {
  width: 250px;
  height: 350px;
  margin-top: 16px;
  border-radius: 10px;
}

.loading {
  animation: fades 2s infinite;
}

@keyframes fades {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}